includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/innis/coding-standards/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
        - examples
    tmpDir: var/phpstan
