<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnEmptyTestSuite="true"
         failOnDeprecation="true"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnNotice="true"
         failOnSkipped="true"
         failOnWarning="true"
         failOnPhpunitDeprecation="true"
         stopOnFailure="false"
         cacheDirectory="var/phpunit/cache">
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Compliance">
            <directory>tests/Compliance</directory>
        </testsuite>
    </testsuites>
    <source ignoreSuppressionOfDeprecations="true"
            ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
